/* =====================================================
   FUENTES
   ===================================================== */
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

/* =====================================================
   ANIMACIÓN SCROLL + OVERLAY (SIN TOCAR)
   ===================================================== */
.animation-section {
    height: 350vh;
    background: #000;
    position: relative;
}

#animImage {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: 5;
    pointer-events: none;
}

#overlayText {
    position: sticky;
    top: 50px;
    height: calc(115vh);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 8vw;
    z-index: 20;
    pointer-events: none;
}

#overlayText {
    pointer-events: none;
}

#overlayText a {
    pointer-events: auto;
}


#overlayText .text-wrap {
    opacity: 0;
}

.imagine {
    font-size: clamp(24px, 10vw, 80px);
    color: #fff;
}

.by {
    font-size: clamp(14px, 2.6vw, 28px);
    color: rgba(255, 255, 255, .9);
}

/* BOTÓN GLASS */
.btn-glass {
    position: relative;
    padding: 10px 36px;
    border-radius: 999px;

    color: #ffffff;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;


    background: linear-gradient(135deg,
            rgba(0, 140, 255, 0.25),
            rgba(0, 90, 180, 0.15));

    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);

    border: 1px solid rgba(120, 190, 255, 0.55);

    box-shadow:
        0 12px 35px rgba(0, 60, 120, 0.45),
        inset 0 0 18px rgba(140, 200, 255, 0.35);

    transition: all 0.35s ease;
}



/* Hover elegante */
.btn-glass:hover {
    background: linear-gradient(135deg,
            rgba(0, 160, 255, 0.35),
            rgba(0, 100, 200, 0.25));

    box-shadow:
        0 18px 50px rgba(0, 80, 160, 0.6),
        inset 0 0 24px rgba(180, 220, 255, 0.45);

    transform: translateY(-2px);
    color: #ffffff;
}



.btn-glass::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: linear-gradient(120deg,
            transparent 30%,
            rgba(255, 255, 255, 0.35),
            transparent 70%);
    opacity: 0.25;
    pointer-events: none;
}