/* Tipografía Orbitron aplicada */
body {
  font-family: 'Orbitron', sans-serif;
  background-color: #F8F8F8; /* Sea Salt */
  color: #212121; /* Eerie Black */
}

/* Tamaños de títulos */
h1 { font-size: 96px; }
h2 { font-size: 64px; }
h3 { font-size: 48px; }
h4 { font-size: 36px; }
h5 { font-size: 15px; }

/* Header */
header {
  background-color: #999999; /* Battleship Gray */
  padding: 2rem;
  text-align: center;
}

header h1 {
  color: #212121; /* Eerie Black */
}

/* Navbar personalizada */
.navbar {
  background-color: #65ABEA; /* Rudy Blue */
}

.navbar-brand, .nav-link {
  color: #212121 !important; /* Eerie Black */
  font-weight: bold;
}

.nav-link:hover {
  color: #C3E0FA !important; /* Columbia Blue */
}


/* Footer */
.footer {
  background-color: #212121; /* Eerie Black */
  color: #F8F8F8; /* Sea Salt */
  padding: 2rem 0;
}

.footer h3 {
  font-size: 48px; /* H3 Orbitron */
  font-family: 'Orbitron', sans-serif;
  margin-bottom: 1rem;
  color: #65ABEA; /* Rudy Blue */
}

.footer p {
  font-size: 15px; /* H5 Orbitron */
  color: #C3E0FA; /* Columbia Blue */
  margin-bottom: 1rem;
}

/* Links */
.footer-links a {
  color: #F8F8F8; /* Sea Salt */
  text-decoration: none;
  font-weight: bold;
  margin: 0 0.5rem;
}

.footer-links a:hover {
  color: #65ABEA; /* Rudy Blue */
}

/* Redes sociales */
.social-icons {
  margin: 1rem 0;
}

.social-link {
  color: #F8F8F8; /* Sea Salt */
  font-size: 1.5rem;
  margin: 0 0.5rem;
  transition: color 0.3s ease;
}

.social-link:hover {
  color: #65ABEA; /* Rudy Blue */
}